/* Общее */
html{
    font-family: Segoe UI;
}

body {
    margin: 0;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
}

.all {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

header {
    margin-left: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 20px;
}

.all_header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

.logo {
    height: 80px;
}

.buttonSignInLogIn {
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: end;
    transition: all ease 0.3s;
}

.buttonLogIn {
    size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    height: 40px;
    width: 75px;
    box-shadow: 0 0 4px -4px rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;
}

.buttonLogIn:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 3px 4px rgba(0, 0, 0, 0.25);
}

.buttonSignIn {
    width: 160px;
    height: 40px;
    border-radius: 18px;
    background-blend-mode: darken;
    size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18AB39;
    transition: all ease 0.3s;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.buttonSignIn:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 3px 4px rgba(0, 0, 0, 0.25);
}

.line_header {
    width: 100%;
    height: 1px;
    background-color: #696969;
    margin-bottom: 30px;
}

footer {
    margin-top: auto;
}

.footer_logo_line {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three_collums {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_footer {
    width: 180px;
}

.line {
    width: calc((100% - 220px) / 2);
    height: 1px;
    background-color: black;
}

.download_app {
    width: 350px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.app {
    height: 40px;
    border-radius: 8px;
    margin: 10px;
}

.soc_networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin: 20px;
}

.socs {
    width: 30px;
    height: 30px;
}

.contacts {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.row_footer {
    font-size: 15px;
    margin: 3px;
    color: black;
    transition: all 0.2s
}

.row_footer:hover {
    color: grey;
}

.copywrite {
    font-size: 11px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 30px;
}
/* Общее */




/* Главная страница */

.button {
    height: 100px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.marathonsInfo {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
/* Главная страница */




/* Список марафонов */

h1 {
    font-size: 38px;
    text-align: center;
    margin: 0;
}

.card {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    background-color: #2F9A54;
    padding: 20px;
    transition: all 0.3s;
    margin-top: 30px;
}

.card_white {
    background-color: #ffffff;
}

.card:hover {
    background-color: #31A256;
}

.card_white:hover {
    background-color: #f0f0f0;
}

.row {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collum1 {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.collum2 {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    justify-content: space-around;
}

.collum2_white {
    color: #2F9A54;
}

.more {
    height: 43px;
    width: 154px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    background-color: white;
    font-size: 15px;
    color: #2F9A54;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    margin: 20px;
    box-shadow: 0 0 4px -4px rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;
}

.more_white {
    background-color: #2F9A54;
    color: white;
}

.more:hover {
    transform: translate(0, -5px);
    box-shadow: 0 5px 3px 4px rgba(0, 0, 0, 0.25);
}
/* Список марафонов */




/* Результаты марафона */

.card_ {
    max-width: 300px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 16px;
    background-color: #2F9A54;
    padding: 23px 20px 23px 27px;
    transition: all 0.3s;
    margin-top: 56px;
}

.card_:hover {
    background-color: #31A256;
}

.collum1_ {
    width: 135px;
    height: 135px;
    border-radius: 12px;
}

.collum2_ {
    height: 135px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: white;
    justify-content: space-around;
}

.collum3_ {
    height: 135px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    justify-content: space-around;
}

.row_ {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_none {
    display: none;
}

.table {
    width: 100%;
    max-width: 350px;
    /*    display: flex;
        flex-direction: column;
        justify-content: left;*/
    border-radius: 15px;
    border: 1px solid #979797;
    background-color: #DBDBDB;
    transform: translate(12px, 0);
}

.row_table {
    width: 100%;
    max-width: 350px;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.row_table:nth-child(2n) {
    background-color: #A2D8AE;
}

.row_table:last-of-type {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.number {
    width: 40px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fio {
    width: 220px;
    min-height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.race_time {
    width: 100px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.age {
    width: 60px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.megal {
    position: absolute;
    left: -30px;
    height: 25px;
    width: 25px;
}
/* Результаты марафона */





/* Калькуляторы */
.two_collums {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 40px;
}

.collum {
    width: calc(50% - 1px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.vertical_line {
    height: 320px;
    width: 1px;
    background-color: #696969;
}

.title_calc {
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.calc1 {
    border-radius: 15px;
    width: 280px;
    height: 175px;
    background-color: #2F9A54;
    border: 1px solid #979797;
}

.calc2 {
    border-radius: 15px;
    width: 330px;
    height: 275px;
    background-color: #2F9A54;
    border: 1px solid #979797;
}